## Laptops Brand Data Analysis Project

### load csv File

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('laptops.csv')

### Data inspection

In [3]:
df.head(3)

,index,brand,Model,Price,Rating,processor_brand,processor_tier,num_cores,num_threads,ram_memory,...,secondary_storage_type,secondary_storage_capacity,gpu_brand,gpu_type,is_touch_screen,display_size,resolution_width,resolution_height,OS,year_of_warranty
0,1,tecno,Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...,23990,63,intel,core i3,2,4,8,...,No secondary storage,0,intel,integrated,False,15.6,1920,1080,windows,1
1,2,tecno,Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...,35990,67,intel,core i7,4,8,16,...,No secondary storage,0,intel,integrated,False,15.6,1920,1080,windows,1
2,3,hp,HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...,51100,73,amd,ryzen 5,6,12,8,...,No secondary storage,0,amd,dedicated,False,15.6,1920,1080,windows,1

In [4]:
df.tail(3)

,index,brand,Model,Price,Rating,processor_brand,processor_tier,num_cores,num_threads,ram_memory,...,secondary_storage_type,secondary_storage_capacity,gpu_brand,gpu_type,is_touch_screen,display_size,resolution_width,resolution_height,OS,year_of_warranty
988,1000,asus,Asus Vivobook Go 15 2023 E1504FA-NJ522WS Lapto...,44990,59,amd,ryzen 5,4,8,8,...,No secondary storage,0,amd,integrated,False,15.6,1920,1080,windows,1
989,1001,asus,Asus Zenbook 14 2023 UM3402YA-KP541WS Laptop (...,67990,68,amd,ryzen 5,6,12,16,...,No secondary storage,0,amd,integrated,False,14.0,2560,1600,windows,1
990,1002,hp,HP Chromebook 15a-na0008TU Laptop (Intel Celer...,20990,37,intel,celeron,2,2,4,...,No secondary storage,0,intel,integrated,False,15.6,1366,768,chrome,1

### Basic Statistics Function

In [5]:
df.describe()

,index,Price,Rating,num_cores,num_threads,ram_memory,primary_storage_capacity,secondary_storage_capacity,display_size,resolution_width,resolution_height
count,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000
mean,505.860747,77266.504541,63.931382,8.128153,12.191726,13.047427,610.938446,4.004036,15.171241,2003.503532,1181.227043
std,287.899458,57384.910269,10.190575,4.215499,5.585115,5.591188,266.927666,33.553936,0.938089,361.965292,263.884019
min,1.000000,9800.000000,24.000000,2.000000,0.000000,2.000000,32.000000,0.000000,10.100000,1080.000000,768.000000
25%,258.500000,43595.000000,58.000000,6.000000,8.000000,8.000000,512.000000,0.000000,14.000000,1920.000000,1080.000000
50%,507.000000,61900.000000,64.000000,8.000000,12.000000,16.000000,512.000000,0.000000,15.600000,1920.000000,1080.000000
75%,754.500000,89245.000000,71.000000,10.000000,16.000000,16.000000,512.000000,0.000000,15.600000,1920.000000,1200.000000
max,1002.000000,454490.000000,89.000000,24.000000,32.000000,36.000000,2048.000000,512.000000,18.000000,3840.000000,2560.000000

## Data Cleaning

In [6]:
# Cheacking null values
df.isnull().sum()

index                         0
brand                         0
Model                         0
Price                         0
Rating                        0
processor_brand               0
processor_tier                0
num_cores                     0
num_threads                   0
ram_memory                    0
primary_storage_type          0
primary_storage_capacity      0
secondary_storage_type        0
secondary_storage_capacity    0
gpu_brand                     0
gpu_type                      0
is_touch_screen               0
display_size                  0
resolution_width              0
resolution_height             0
OS                            0
year_of_warranty              0
dtype: int64

In [7]:
# Drop rows with missing values
df.dropna()

,index,brand,Model,Price,Rating,processor_brand,processor_tier,num_cores,num_threads,ram_memory,...,secondary_storage_type,secondary_storage_capacity,gpu_brand,gpu_type,is_touch_screen,display_size,resolution_width,resolution_height,OS,year_of_warranty
0,1,tecno,Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...,23990,63,intel,core i3,2,4,8,...,No secondary storage,0,intel,integrated,False,15.6,1920,1080,windows,1
1,2,tecno,Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...,35990,67,intel,core i7,4,8,16,...,No secondary storage,0,intel,integrated,False,15.6,1920,1080,windows,1
2,3,hp,HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...,51100,73,amd,ryzen 5,6,12,8,...,No secondary storage,0,amd,dedicated,False,15.6,1920,1080,windows,1
3,4,acer,Acer Extensa EX214-53 Laptop (12th Gen Core i5...,39990,62,intel,core i5,12,16,8,...,No secondary storage,0,intel,integrated,False,14.0,1920,1080,windows,1
4,5,lenovo,Lenovo V15 82KDA01BIH Laptop (AMD Ryzen 3 5300...,28580,62,amd,ryzen 3,4,8,8,...,No secondary storage,0,amd,integrated,False,15.6,1920,1080,windows,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,998,asus,Asus Vivobook Pro 15 M6500QC-HN542WS Laptop (R...,65990,68,amd,ryzen 5,6,12,16,...,No secondary storage,0,nvidia,dedicated,False,15.6,1920,1080,windows,1
987,999,msi,MSI Thin GF63 12VE-070IN Gaming Laptop (12th G...,91990,73,intel,core i7,10,16,16,...,No secondary storage,0,nvidia,dedicated,False,15.6,1920,1080,windows,2
988,1000,asus,Asus Vivobook Go 15 2023 E1504FA-NJ522WS Lapto...,44990,59,amd,ryzen 5,4,8,8,...,No secondary storage,0,amd,integrated,False,15.6,1920,1080,windows,1
989,1001,asus,Asus Zenbook 14 2023 UM3402YA-KP541WS Laptop (...,67990,68,amd,ryzen 5,6,12,16,...,No secondary storage,0,amd,integrated,False,14.0,2560,1600,windows,1
990,1002,hp,HP Chromebook 15a-na0008TU Laptop (Intel Celer...,20990,37,intel,celeron,2,2,4,...,No secondary storage,0,intel,integrated,False,15.6,1366,768,chrome,1

In [8]:
# fill missing values
# df.fillna()

## Data Selection

In [9]:
print(df[['brand' , 'Price' , 'processor_tier' , 'ram_memory' , 'year_of_warranty']])

      brand  Price processor_tier  ram_memory year_of_warranty
0     tecno  23990        core i3           8                1
1     tecno  35990        core i7          16                1
2        hp  51100        ryzen 5           8                1
3      acer  39990        core i5           8                1
4    lenovo  28580        ryzen 3           8                1
..      ...    ...            ...         ...              ...
986    asus  65990        ryzen 5          16                1
987     msi  91990        core i7          16                2
988    asus  44990        ryzen 5           8                1
989    asus  67990        ryzen 5          16                1
990      hp  20990        celeron           4                1

[991 rows x 5 columns]

In [10]:
# Use iloc funtion for create ne DataFrame which is dff with 991 rows and 5 columns
dff = df.iloc[:991 , :5]
dff

,index,brand,Model,Price,Rating
0,1,tecno,Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...,23990,63
1,2,tecno,Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...,35990,67
2,3,hp,HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...,51100,73
3,4,acer,Acer Extensa EX214-53 Laptop (12th Gen Core i5...,39990,62
4,5,lenovo,Lenovo V15 82KDA01BIH Laptop (AMD Ryzen 3 5300...,28580,62
...,...,...,...,...,...
986,998,asus,Asus Vivobook Pro 15 M6500QC-HN542WS Laptop (R...,65990,68
987,999,msi,MSI Thin GF63 12VE-070IN Gaming Laptop (12th G...,91990,73
988,1000,asus,Asus Vivobook Go 15 2023 E1504FA-NJ522WS Lapto...,44990,59
989,1001,asus,Asus Zenbook 14 2023 UM3402YA-KP541WS Laptop (...,67990,68
990,1002,hp,HP Chromebook 15a-na0008TU Laptop (Intel Celer...,20990,37

In [11]:
# Show Model column
dff['Model']

0      Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...
1      Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...
2      HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...
3      Acer Extensa EX214-53 Laptop (12th Gen Core i5...
4      Lenovo V15 82KDA01BIH Laptop (AMD Ryzen 3 5300...
                             ...
986    Asus Vivobook Pro 15 M6500QC-HN542WS Laptop (R...
987    MSI Thin GF63 12VE-070IN Gaming Laptop (12th G...
988    Asus Vivobook Go 15 2023 E1504FA-NJ522WS Lapto...
989    Asus Zenbook 14 2023 UM3402YA-KP541WS Laptop (...
990    HP Chromebook 15a-na0008TU Laptop (Intel Celer...
Name: Model, Length: 991, dtype: object

In [12]:
dff.describe()

             index          Price      Rating
count   991.000000     991.000000  991.000000
mean    505.860747   77266.504541   63.931382
std     287.899458   57384.910269   10.190575
min       1.000000    9800.000000   24.000000
25%     258.500000   43595.000000   58.000000
50%     507.000000   61900.000000   64.000000
75%     754.500000   89245.000000   71.000000
max    1002.000000  454490.000000   89.000000

In [13]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   991 non-null    int64
 1   brand   991 non-null    object
 2   Model   991 non-null    object
 3   Price   991 non-null    int64
 4   Rating  991 non-null    int64
dtypes: int64(3), object(2)
memory usage: 38.8+ KB

In [14]:
print(dff[['brand' , 'Model' , 'Price']])

      brand                                              Model  Price
0     tecno  Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...  23990
1     tecno  Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...  35990
2        hp  HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...  51100
3      acer  Acer Extensa EX214-53 Laptop (12th Gen Core i5...  39990
4    lenovo  Lenovo V15 82KDA01BIH Laptop (AMD Ryzen 3 5300...  28580
..      ...                                                ...    ...
986    asus  Asus Vivobook Pro 15 M6500QC-HN542WS Laptop (R...  65990
987     msi  MSI Thin GF63 12VE-070IN Gaming Laptop (12th G...  91990
988    asus  Asus Vivobook Go 15 2023 E1504FA-NJ522WS Lapto...  44990
989    asus  Asus Zenbook 14 2023 UM3402YA-KP541WS Laptop (...  67990
990      hp  HP Chromebook 15a-na0008TU Laptop (Intel Celer...  20990

[991 rows x 3 columns]

## Data Visualization